swagger: '2.0'
info:
  description: This is a server for chapter 08 code challenge RESTful API
  version: 1.0.0
  title: Ch08-Challenge-API-Documentation
  termsOfService: ''
  contact:
    email: ridhanfadhilah@gmail.com
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
host: 'localhost:5000'
basePath: /api
tags:
  - name: Players
    description: Players Resources
schemes:
  - http
  - https
paths:
  '/players':
    post:
      tags:
        - Player
      summary: Create new player
      description: Create new player data
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: body
          name: body
          description: Request body of player data
          schema:
            type: object
            required:
              - username
              - email
              - password
            properties:
              username:
                type: string
                example: ridhanf
              email:
                type: string
                example: ridhanfadhilah@gmail.com
              password:
                type: string
                example: 123456
              exp:
                type: integer
                example: 1000
      security:
        - Token: []
      responses:
        '201':
          description: Successfully create new player
          schema:
            type: object
            properties:
              result:
                type: string
                example: "SUCCESS"
              message:
                $ref: '#/definitions/Player'
        '400':
          description: Failed to create new player
          schema:
            type: object
            properties:
              result:
                type: string
                example: "FAILED"
              message:
                type: string
                example: "Some error occurred while creating the Player."
        '500':
          description: Server error
          schema:
            type: object
            properties:
              result:
                type: string
                example: "FAILED"
              message:
                type: string
                example: "username or email or password field cannot be empty."
    get:
      tags:
        - Player
      summary: Read all players
      description: Read all players data
      produces:
        - application/json
      parameters:
        - in: query
          name: username
          type: string
          description: query parameter of player username
        - in: query
          name: email
          type: string
          description: query parameter of player email
        - in: query
          name: experience
          type: integer
          description: query parameter of player experience
        - in: query
          name: lvl
          type: integer
          description: query parameter of player level
      responses:
        '200':
          description: Successfully get all players
          schema:
            type: object
            properties:
              result:
                type: string
                example: "SUCCESS"
              message:
                $ref: '#/definitions/Player'
        '500':
          description: Server error
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Some error occurred while retrieving players."
  '/players/{id}':
    get:
      tags:
        - Player
      summary: Read player by ID
      description: Read player data by ID
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: ID of player to return
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: Successfully get player by ID
          schema:
            type: object
            properties:
              result:
                type: string
                example: "SUCCESS"
              message:
                $ref: '#/definitions/Player'
        '500':
          description: Server error
          schema:
            type: object
            properties:
              result:
                type: string
                example: "FAILED"
              message:
                type: string
                example: "Error retrieving Player with id=1"
    put:
      tags:
        - Player
      summary: Update player by ID
      description: Update player data by ID
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: ID of player to return
          required: true
          type: integer
          format: int64
        - in: body
          name: body
          description: Request body of player data
          schema:
            type: object
            properties:
              username:
                type: string
                example: ridhanf
              email:
                type: string
                example: ridhanfadhilah@gmail.com
              password:
                type: string
                example: 123456
              experience:
                type: integer
                example: 1000
              lvl:
                type: integer
                example: 1
      security:
        - Token: []
      responses:
        '200':
          description: Successfully update player by ID
          schema:
            type: object
            properties:
              result:
                type: string
                example: "SUCCESS"
              message:
                type: string
                example: "Player was updated successfully."
        '400':
          description: Failed to update player by ID
          schema:
            type: object
            properties:
              result:
                type: string
                example: "FAILED"
              message:
                type: string
                example: "Cannot update Player with id=1. Maybe Player was not found or req.body is empty!"
        '500':
          description: Server error
          schema:
            type: object
            properties:
              result:
                type: string
                example: "FAILED"
              message:
                type: string
                example: "Error updating Player with id=1"
    delete:
      tags:
        - Player
      summary: Delete player by ID
      description: Delete player data by ID
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: ID of player to return
          required: true
          type: integer
          format: int64
      security:
        - Token: []
      responses:
        '200':
          description: Successfully delete player by ID
          schema:
            type: object
            properties:
              result:
                type: string
                example: "SUCCESS"
              message:
                type: string
                example: "Player was deleted successfully."
        '400':
          description: Failed to delete player by ID
          schema:
            type: object
            properties:
              result:
                type: string
                example: "FAILED"
              message:
                type: string
                example: "Cannot delete Player with id=1. Maybe Player was not found!"
        '500':
          description: Server error
          schema:
            type: object
            properties:
              result:
                type: string
                example: "FAILED"
              message:
                type: string
                example: "Could not delete Player with id=1"
  '/players/exp/{id}':
    post:
      tags:
        - Player
      summary: Create new player experience by ID
      description: Create new player experience data by ID
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: ID of player to return
          required: true
          type: integer
          format: int64
        - in: body
          name: body
          description: Request body of player data
          schema:
            type: object
            required:
              - experience
            properties:
              exp:
                type: integer
                example: 500
      security:
        - Token: []
      responses:
        '200':
          description: Successfully create new player experience by ID
          schema:
            type: object
            properties:
              result:
                type: string
                example: "SUCCESS"
              message:
                type: string
                example: "Player with id=1 has more experience."
        '400':
          description: Failed to create new player experience by ID because of empty value
          schema:
            type: object
            properties:
              result:
                type: string
                example: "FAILED"
              message:
                type: string
                example: "exp field cannot be empty."
        '500':
          description: Server error
          schema:
            type: object
            properties:
              result:
                type: string
                example: "FAILED"
              message:
                type: string
                example: "Error updating Player exp with id=1"
securityDefinitions:
  Token:
    type: apiKey
    name: Authorization
    in: header
definitions:
  Player:
    type: object
    properties:
      id:
        type: integer
        format: int64
        example: 1
      username:
        type: string
        example: ridhanf
      email:
        type: string
        example: ridhanfadhilah@gmail.com
      password:
        type: string
        default: $2b$10$hkPuAZVHRaGh38gEMigwOO5iX8iF0SR4/4cr/kY5WY9OVUlNUdqpK
      experience:
        type: integer
        example: 1000
      lvl:
        type: integer
        example: 1
externalDocs:
  description: Find out more about Player API
  url: 'https://gitlab.com/ridhanf/binar-challenge-chapter-8'
